.Logged_App_Container {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.Dock_Icon {
  width: 60px;
  cursor: pointer;
  transition: 0.5s;
}

.Dock__Container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}

.Dock {
  display: flex;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.384);
  backdrop-filter: blur(5px);
  justify-content: center;
  width: 600px;
  border-radius: 50px;
  padding: 0 10px;
}

.Dock_Min_Container {
  transition: 0.5s;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgActive {
  width: 70px;
  background-color: rgb(255, 255, 255);
  transform: translateY(-20px);
}

.active {
  border-radius: 50%;
}

.userPage {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 650px) {
  .Dock {
    flex-direction: column;
    width: 70px;
    height: 450px;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .Dock__Container {
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
  }
  .Dock_Icon {
    width: 50px;
  }

  .bgActive {
    width: 60px;
    background-color: rgb(255, 255, 255);
    transform: translateX(20px);
  }
}
