.LockScreen_Content_Container {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(px);
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
}

.LockScreen_Content {

  display: flex;
  justify-content: center;
  align-items: center;
  gap:40px;
  flex-direction: column;
  width: 90%;
  overflow: hidden;

}

.LockScreen_Time {
  vertical-align: baseline;
  display: flex;
  gap: 30px;
}
.LockScreen_Time > h1 {
  font-size: 60px;
  color: var(--font-color);
}

.LockDegree {
  display: flex;
  margin-top: 10px;
}

.LockDegree > svg {
  color: yellow;
  font-size: 25px;
}

.LockDegree > h2 {
  color: var(--font-color);
}

.LockDegree_Super {
  vertical-align: super;
  margin-left: 10px;
  font-size: 20px;
  position: relative;
}
.LockDegree_Super::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid var(--font-color);
  border-radius: 50%;
  right: 14px;
}

.LockScreen_Login {
  width: 100px;
  height: 50px;
  background-color: rgba(120, 120, 120, 0.61);
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
  margin-right:40px;
  backdrop-filter: blur(30px);
}

.LockScreen_Login:hover svg {
  transform: translateX(30px);
}

.LockScreen_Login > svg {
  font-size: 50px;
  color: var(--font-color);
  transition: all 0.2s ease-in-out;
}
