.formContainer{
    display: grid;
    place-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.584);
    height: 100vh;
}


.inputContainer{
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: repeat(4,50px);
    place-content: center;
    position: relative;
    gap:10px;
}

.inputContainer > input{
    border-radius:10px;
    border:none;
    caret-color: rgba(255, 0, 0, 0);
    font-size:40px;
    padding-left:15px;
}

.inputContainer > span{
    width:40px;
    height:40px;
    background-color: rgba(255, 165, 165, 0.47);
    position: absolute;
    top:5px;
    left:5px;
    border-radius:5px;
    animation: blink 1s ease-in-out infinite;
}

input:focus{
    outline: 3px solid rgb(255, 165, 165);
    outline-offset: 2px;
}

button{
    background-color: rgba(128, 128, 128, 0.568);
    border:none;
    font-size:1.2rem;
    padding:10px 40px;
    border-radius:10px;
    cursor:pointer;
    color:rgb(255, 255, 255);
    place-self: center;
    transition: all .3s ease-in-out;
    transform: translateY(-150px);
}
button:hover{
    background-color: gray;
}


@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}